body * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}


header nav {
    top: 0px;
}
header nav ul {
    width: 100%;
    text-align: center;
}
header nav ul li{
    text-align: center;
    width: 300px;
    font-size: 200%;
    display: inline-block;
}
header nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}


main h1, main h2, main h3 {
    border-bottom: 1px solid red;
}
main p {
    text-indent: 20px;
}
main ul li {
    list-style-type: square;
}
main ol li {
    list-style-type: upper-roman;
}
main li:nth-child(3n-2) {
    color: red;
}
main li:nth-child(3n-1) {
    color: green;
}
main li:nth-child(3n) {
    color: blue;
}


footer {
    border-top: 1px solid red;
}
.html5 {
    color: red;
}
.css3 {
    color: blue;
}